* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
  background-color: rgb(251, 251, 227);
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: white;
  display: flex;
}

main {
  background-color: black;
  flex: 1;
  color: white;
  display: flex;
}

footer {
  color: white;
  .footer1 {
    background-color: rgb(5, 130, 249);
  }

  .footer2 {
    background-image: url(./assets/dc-comics-1/img/footer-bg.jpg);
    display: flex;
    justify-content: space-around;
  }

  .footer3 {
    background-color: rgb(30, 30, 30);
  }

  .links {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
}

.dcComicsEShop {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.rotatedLogo {
  height: 100%;
  aspect-ratio: 1;
  transform: rotate(-30deg);
  filter: opacity(50%);
}

.tesst {
  background-color: red;
}
